<!doctype html>
<html>
<head>
    <title>Hello World</title>
</head>
<body>
	<div>
		<a href="/">Home</a>
		&nbsp; | &nbsp;
		<a href="/about">About</a>
		&nbsp; | &nbsp;
		<a href="/bogus">Bogus Link</a>
	</div>

	{{{body}}}

	<div>&copy; Copyright</div>

</body>
</html>
